{% extends "articles/base.html" %}
{% load static %}

{% block title %}Новости{% endblock %}
{% block content %}
<div class="row">
  {% for article_ in data %}
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% get_media_prefix %}{{ article_.image }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{ article_.title }}</a>
        </h4>
        <p class="card-text">{{ article_.text }}</p>
        {% for obj in relation_objs %}
            {% if obj.article == article_ and obj.is_main %}
              <span class='badge  bg-primary'> {{ obj.theme.name}}</span>
            {% endif %}
        {% endfor %}

        {% for obj in relation_objs %}
            {% if obj.article == article_ and not obj.is_main %}
              <span class='badge bg-secondary'> {{ obj.theme.name}}</span>
            {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

