<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python</title>
</head>
<body>
<h1>Приветствую вас на нашем сайте! </h1>
<h2>у нас вы можете узнать : </h2>
<h3>1) ингриедиенты для омлета и количество в зависимости от количество людей для этого введите http://127.0.0.1:8000/omlet/?count=количество персон</h3>
<h3>2) ингриедиенты для пасты для этого введите http://127.0.0.1:8000/pasta/?count=количество персон</h3>
<h3>3) ингриедиенты для бутерброда для этого введите http://127.0.0.1:8000/buter/?count=количество персон</h3>
</body>
</html>